<div class="d-flex mt-3">
    <!-- brand name -->
    <div class="brand">
        <span>P A V I L I O N</span>
    </div>


    <!-- touchpad -->
    <div class="touchpad-container">
        <div class="touchpad" id="touchPad"></div>
    </div>

    <!-- processor and graphics card -->
    <div class="specs-container">
        <div class="spec">
            <img src="../../../../assets/images/processor.png" alt="processor" class="img-fluid spec-img">
        </div>
        <div class="spec">
            <img src="../../../../assets/images/graphics.png" alt="processor" class="img-fluid spec-img">
        </div>
    </div>
</div>