<!-- top side :- sound and power button -->
<div class="top mb-4">
    <div class="sound">
        <div class="left-half">
            <div class="">
                <div  class="dot" *ngFor="let i of [].constructor(10)"></div>
            </div>
        </div>
        <div class="right-half">
            <div class="">
                <div  class="dot" *ngFor="let i of [].constructor(10)"></div>
            </div>
        </div>
    </div>
    <div class="power-btn-container">
        <div class="power-btn" role="button" (click)="toggle()"  id="powerBtn"></div>
    </div>
</div>